---
layout: default
section: Download
title: Versions
preambles:
  - modal: modal1
    title: Download Open Rails (testing version)
    file: testing_build
---

<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <h2>Three Versions of Open Rails</h2>
    <p>
      Three versions of Open Rails are readily available to users, as shown below:
    </p>
    <img src="3_versions.png" width=617 style="padding-bottom: 15px">
    <p>
      For first-time users, we recommend the <a href="../program">Stable Version</a> which comes with an installer.
    </p>

    <h2>Updater</h2>
    <p>	
      Whichever version you choose, Open Rails has a mechanism to notify you of new versions and to update Open Rails for you.
      You will find the settings for this mechanism in <i>Menu > Options > System</i>
      <img src="update_mode.png" width=617 style="padding-bottom: 15px">
    </p>
    <p>
      Open Rails will check for updates at most once a day. When it finds one, it raises a red flag in the Notifications icon.
      <img src="unread_notification.png" width=617 style="padding-bottom: 15px">
    </p>
    <p>
      Use the "What's new" button to find out more about an update or the "Install" button to launch the automatic update process:
      <img src="install_update.png" width=617 style="padding-bottom: 15px">
    </p>


    <h2>Testing Version</h2>
    <p>	
      If you follow the Open Rails project on the forums, then you will hear about bug-fixes and new features.
      These are included in the Unstable Version for developers and testers to try out.
      Once they have been checked and approved, they are published (on most Fridays) as the latest Testing Version.
      Any user can easily update to the current weekly Testing Version and benefit from these improvements.
    </p>
    <p>
      For reference all the Testing Versions (executable and source) can be <a href="https://github.com/openrails/openrails-testing/releases" target="_blank">found in our archive</a>.
    </p>

    <h3>Recent Code Changes</h3>
    <ul>
      {%- include changelog.html -%}
    </ul>
    <p><a href='../changes/'>See more code changes</a></p>
	        <p>
      The current Testing Version can also be downloaded as a Zip archive:
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <!-- Button to download executable -->
    <a href="{% include file_url.html file="testing_build" %}" role="button" class='btn download_button btn-lg btn-block'>
      <h2><span class='glyphicon glyphicon-download'></span> &nbsp; Download the executables</h2>
      <p>
        See the installation guides below for the pre-requisites you'll need.
      </p>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <p style="text-align: center;">{% include file_meta.html file="testing_build" %}</p>
    <ul>
      <li><a href="{% include file_url.html file="doc_install_en" %}">Installation Guide (English)</a></li>
      <!--
        The previous Spanish version is much too old to be helpful. Will re-instate this link when/if we get a fresh translation. 
        <li><a href="{% include file_url.html file="doc_install_es" %}">Tutorial de Instalación (Spanish)</a></li>
       -->
    </ul>
    <p>
      The documents included in the Testing Versions downloads can be found on-line at:
      <ul>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-Architecture Diagram V1.pdf" target="_blank">Architecture Diagram V1.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-Content checker.pdf" target="_blank">Contenct checker.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-How to Provide Track Profiles for Open Rails Dynamic Track.pdf" target="_blank">How to Provide Track Profiles for Open Rails Dynamic Track.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-Installation Guide En.pdf" target="_blank">Installation Guide En.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-Localization Manual.pdf" target="_blank">Localization Manual.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-Manual.pdf" target="_blank">Manual.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-ORTS Trackviewer manual.pdf" target="_blank">ORTS Trackviewer manual.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-Processor Flow Chart.pdf" target="_blank">Processor Flow Chart.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-timetable-editor_de.pdf" target="_blank">timetable-editor_de.pdf</a></li>
        <li><a href="https://static.openrails.org/files/OpenRails-Testing-timetable-editor_en.pdf" target="_blank">timetable-editor_en.pdf</a></li>
      </ul>
    </p>
    <p>
      Note: Multiple versions of Open Rails will not interfere if they are saved to different folders.
    </p>

    <h2>Unstable Version</h2>
    <p>
      To support development, the 
      <a href='{% include file_url.html file="unstable_build" %}' target="_blank">latest unstable version</a>
      is also available, which is updated whenever a developer publishes a change.
      The unstable versions are more <strong>likely to contain serious bugs</strong> 
      and are only recommended for users wishing to help with Open Rails development.
    </p>
    <p>
      The Manual for the Unstable version is not included in the download, but <a href="https://open-rails.readthedocs.io/en/unstable/" target="_blank">is available on-line</a>.
    </p>
    <p>
      For reference all the Unstable Versions (executable and source) can be <a href="https://github.com/openrails/openrails-unstable/releases" target="_blank">found in our Unstable archive</a>.
    </p>

    <h3>Improvements</h3>
    <p>
      Improvements to Open Rails are drawn from several public sources as shown here:
    </p>
    <img src="improvements.png" width=617 style="padding-bottom: 15px">
    <p>
      We try to make sure that these changes all work and fit together by reviews as marked in orange in the diagram.
    </p>
    <br>
    <br>

  </div>
</div>
