<li class=''><code>T1.5.1-1406-g23578e93a</code> Merge pull request #995 from mbm-OR/bugfix/Fix-TrainCarOperations-TrainOperationsViewer-overlap<br>Fix: TrainCarOperations and TrainOperationsViewer windows overlap.<ul><li><code>95da33ba</code> Cleaned code.</li>
<li><code>bec4b34f</code> Merge branch 'master' into bugfix/Fix-TrainCarOperations-TrainOperationsViewer-overlap</li>
<li><code>992191cf</code> Fix: TrainCarOperations and TrainOperationsViewer windows overlap.</li></ul></li>
<li class=''><code>T1.5.1-1402-g5d79907e1</code> Merge pull request #991 from mbm-OR/bugfix/Fix-TrainCarOperations-no-interact-AltPgDn-AltPgUp<br>Fix TrainCarOperations no interacts AltPgDn AltPgUp.<ul><li><code>748eb3bb</code> select traincar on webpage when traincar operations window (F9) not visible</li>
<li><code>6f266e35</code> Update Cameras.cs<br>Avoids crash when uncoupling cars.</li>
<li><code>89624382</code> Fix TrainCarOperations undesired camera3 camera2 behavior.</li>
<li><code>220b61e6</code> Code clean-up.</li>
<li><code>e2064fc8</code> Problems about what camera should be shown.</li>
<li><code>0d56766a</code> Added ThreeDimCabCamera to if-statement.</li>
<li><code>d6acd59d</code> Fixes a crash when attaching cars.</li>
<li><code>4d5b1c54</code> Fix TrainCarOperations no interacts AltPgDn AltPgUp.</li></ul></li>
