<li class=''><code>T1.5.1-922-g0a17d985e</code> Merge pull request #926 from SteelFill/lights_bugfix<br>Lights Bugfixes<ul><li><code>b20ca948</code> Clean up first/last car check</li>
<li><code>729e0b74</code> Changes to reduce the risk of null reference exceptions in edge cases</li></ul></li>
<li class=''><code>T1.5.1-919-gf19642ebc</code> Merge pull request #911 from twpol/feature/contributing-refactor<br>docs: Add refactoring as a special type of PR<ul><li><code>6834af03</code> docs: Add refactoring as a special type of PR</li>
<li><code>ca5eff76</code> docs: Slight cleanup of additional requirements wording for special types of PR</li></ul></li>
