<li class=''><code>T1.5.1-719-g89833d44e</code> Merge pull request #878 from peternewell/adhesion_polach_#1<br>Implement Polach Adhesion<ul><li><code>9347dcfb</code> Re-instate NumSteps calculation for older adhesion algorithm</li>
<li><code>a088cf73</code> Allow some allowance for rounding errors</li>
<li><code>0d65fe47</code> Correct spelling error in manual</li>
<li><code>5e975cb0</code> Change adhesion algorithm switch to trigger off elapsedClock, and fix calculation of dynamic adhesion (drive wheel) weight.</li>
<li><code>8a6acee0</code> additional manual information</li>
<li><code>3757c966</code> Manual information</li>
<li><code>855d0e2e</code> Correct spelling errors</li>
<li><code>af5b93be</code> Code correction</li>
<li><code>f9aa2adf</code> Set adhesion to switch between Pacha and Polach models if PC performance drops</li>
<li><code>25f5e064</code> Update frame rate so that it is always visible and not just when HuD is switched on.</li>
<li><code>b19b5a1f</code> Code cleanup</li>
<li><code>279e2443</code> Code clean up.</li>
<li><code>da8978d2</code> Further refinement of substeps algorithim</li>
<li><code>43f6ee9f</code> Adjust slip control conditions</li>
<li><code>89a0f996</code> Correct bug in screen frame rate adjustment</li>
<li><code>2df2ab4d</code> Add adjustment os adhesion substeps due to decreasing screen fps</li>
<li><code>1fdec875</code> Further adjustments to substeps</li>
<li><code>42130637</code> further adjustments</li>
<li><code>b13e6ab1</code> Further tweaks to substeps</li>
<li><code>aafbfac2</code> Adjsustment to substep calculation</li>
<li><code>076cd049</code> Adjust substep calculation</li>
<li><code>ef944ab3</code> Further tweaks to polach adhesion</li>
<li><code>94072331</code> Add maximum polach adhesion to HuD for visibility of values.</li>
<li><code>bb3dfb95</code> Make adjustments to adhesion</li>
<li><code>90b5712a</code> Further tweaks to slip characteristics</li>
<li><code>4981d5b0</code> Correct Save / Restore issue, and other changes to adhesion algorithim</li>
<li><code>2a7fb17e</code> Improve Advanced Adhesion HuD detail</li>
<li><code>0b44e348</code> Correct -ve occuring issues</li>
<li><code>f4c0b913</code> Implement Polach Adhesion</li></ul></li>
<li class=''><code>T1.5.1-689-g9d41208f0</code> Merge pull request #887 from twpol/feature/project-assembly-namespace-naming<br>docs: Document projects, assemblies, namespaces<ul><li><code>4665bda5</code> docs: Document projects, assemblies, namespaces</li></ul></li>
