<!-- completely changed the role of the preamble. It guides the user to the correct page instead of inititating the program download. -->
{%- for preamble in page.preambles -%}
<!-- Modal -->
<div id='{{ preamble.modal }}' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
  
  <!-- added background-color to Modal instead of white (don't know exact site background color but seems close)-->
    <div class="modal-content"style="background-color:rgb(255,251,231);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class='modal-title'>{{ preamble.title }}</h2>
      </div>
      <div class="modal-body">
        <p><h3>New to Open Rails? </h3>
         Here is everything you need to <a href="/discover/get-started/">Get Started</a>.         
        </p><p><h3>Only need the Simulator?</h3>
         If you already have content in place for Open Rails or Microsoft Train Simulator, then download the <a href="/download/program/">Open Rails Train Simulator</a> and you can drive those trains straight away.
        </p><p>
          <h3>Ready for more?</h3>
          <ul>
            <li>Download the amazing routes available on the <a href="/download/content/">Content</a> page.</li>
            <li>Buy the beautiful models and content offered by <a href="/trade/">Vendors</a>.</li>
            <li>Check out numerous freely available gems created by the <a href="/share/community/">Virtual Railroading Community.</a></li>
          </ul>              
        </p>
<!-- HdJ: removed buttons -->      
 <!-- <p class="text-right">
         <a href="{% include file_url.html file=preamble.file %}" class="btn download_button">Download Open Rails Train Simulator</a> 
         <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default cancel_button">Cancel</button>
        </p> -->
      </div><!-- End of Modal body -->
    </div><!-- End of Modal content -->
  </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->
{%- endfor -%}
