:root {
	--primary: hsl(87, 38%, 13%);
	--secondary: hsl(105, 6%, 45%);
	--tertiary: hsl(79, 15%, 95%);
	--light: hsl(92, 100%, 99%);
	--accent: hsl(99, 74%, 92%);
	--accent-alt: hsl(101, 100%, 97%);
	--accent-ui: hsl(106, 28%, 48%);
	--semantic-green: hsl(88, 76%, 83%);
	--semantic-red: hsl(0, 76%, 83%);
}

button,
.btn {
	display: block;
	text-wrap: nowrap;
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	cursor: pointer;
	padding: 0.4em 1em;
	font-size: inherit;
	position: relative;
	color: var(--primary);
	background-color: var(--tertiary);
	text-decoration: none;
}

button:hover,
.btn:hover {
	opacity: 0.7;
}

button:active,
.btn:active {
	opacity: 0.9;
}

button[data-secondary] {
	color: var(--accent-ui);
	background-color: var(--accent);
	border-color: var(--accent-ui);
	font-weight: 700;
}

button[data-primary],
.btn[data-primary] {
	color: var(--light);
	background-color: var(--accent-ui);
	border-color: var(--accent-ui);
	outline: 1px solid var(--accent);
	outline-offset: -0.15em;
	padding: 0.4em 0.8em;
	font-weight: 700;
}

button:hover {
	opacity: 0.7;
}

.button-group {
	display: flex;
}

.button-group > button {
	border-radius: 0;
}

.button-group > :first-child {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.button-group > :last-child {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.button-group > :not(:last-child) {
	border-right: 0;
}

.selection {
	width: 100%;
	height: 7em;
	border-radius: 1em;
	overflow: hidden;
	background-color: var(--tertiary);
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.selected.selection {
	outline: 3px solid white;
	outline-offset: -0.4em;
	box-shadow: 0.2em 0.2em 0.5em hsla(0, 0%, 0%, 0.3);
}

.selection::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: var(--image);
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);
	z-index: -1;
}

.selection-inside {
	position: absolute;
	bottom: 0.2em;
	left: 0.4em;
	font-weight: bold;
	font-size: 1.7em;
	color: white;
}

.gradient {
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent 0 20%, var(--secondary));
}

.selected .gradient {
	background: linear-gradient(transparent 0 20%, var(--accent-ui));
}

input {
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	font-family: inherit;
	padding: 0.4em 1em;
	font-size: inherit;
	position: relative;
	color: var(--primary);
	background-color: var(--tertiary);
}

input::placeholder {
	font-style: italic;
}

.content-explorer-container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 700px;
	margin: 2em auto 0.5em;
	accent-color: var(--accent-ui);
	line-height: 1.4;
}

.selection-container {
	display: flex;
	gap: 1.5em;
}

.filter-container {
	display: flex;
	gap: 0.5em;
}

.filter-container > input {
	width: 100%;
}

#list-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.item {
	max-width: 100%;
	background-color: var(--tertiary);
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	padding: 1em;
	text-align: justify;
	overflow: auto;
}

.item img {
	width: 12em;
	object-fit: contain;
	border-radius: 0.25em;
	float: left;
	margin-right: 1em;
	outline: 1px solid hsla(0, 0%, 100%, 0.5);
	outline-offset: -0.2em;
}

.item p {
	margin: 1em 0 0;
}

.item h3 {
	margin: 0;
	color: var(--primary);
}

.item .author {
	margin: 0;
	color: var(--secondary);
}

.item .item-header {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	text-align: start;
}

.item .item-header .author-url {
	color: inherit;
	text-underline-offset: 0.2em;
}

.size-badge {
	border-radius: 0.3em;
	font-family: monospace;
	padding: 0.1em 0.2em;
	background-color: var(--tertiary);
	font-size: 0.9em;
}

.item .size-badge {
	background-color: var(--light);
	border: 1px solid var(--secondary);
}
