<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="container">

      {%- include banner.html -%}

      {%- include menu.html -%}

      <div class="row">
<!-- HdJ: Made the box wider so the page titles don't wrap. -->
        <div class="col-md-12">
          {%- if page.section -%}
          <h1>{{ page.section }} > {{ page.title }}</h1>
          {%- else -%}
          <h1>{{ page.title }}</h1>
          {%- endif -%}
        </div>
      </div>

      {{ content }}

      {%- include footer.html -%}

    </div>

    {%- include program/preamble.html -%}

  </body>

</html>
